<div class="col-lg-12" id="tpCreatorCanvas" ng-controller="SettingsController">
    <div class="bs-component">
        <div class="list-group">
            <div class="panel panel-primary panel-default">
                <div class="panel-heading" style="z-index: 10">
                    {{'_EDIT_TEXT_TITLE_' | i18n}} | {{$root.meta.experiment.name}} <span ng-click="$root.loadMetaDialogController()" class="fa fa-pencil" style="cursor:pointer;" data-toggle="modal" data-target="#meta-dialog"></span>
                    <a ng-click="toggleSidebar(!sidebarIsDisplayed, TAB.NEW)" class="btn btn-fab btn-raised fa fa-plus-circle" style="z-index: 50;color: #fff;font-size: 30px;top: 0px;"></a>
                </div>

                <div class="panel-body" id="conceptorCanvas" ng-style="{'height': $root.size.canvasHeight + 'px'}">
                    <!-- Canvas D3 pour la conception du TP -->
                    <div id="mainCanvas">
                    </div>
                    <canvas style="display:none"></canvas>

                    <!-- Panneau à droite contenant les différents éléments et les paramètres -->
                    <div class="well well-material-lightgrey" id="tpCreatorSideBar" ng-style="{'height': $root.size.sidebarHeight + 'px'}; {'margin-top': $root.size.sidebarTopMargin + 'px'}">
                        <ul class="nav nav-tabs btn-material-lightgrey" style="margin-bottom: 15px;">
                            <li class="active" id="components-panel">
                                <a href="javascript:void(0)" data-target="#components" data-toggle="tab">{{'_EDIT_TEXT_COMPONENTS_' | i18n}}</a>
                            </li>
                            <li id="settings-panel">
                                <a href="javascript:void(0)" data-target="#settings" data-toggle="tab">{{'_EDIT_TEXT_SETTINGS_' | i18n}}</a>
                            </li>
                        </ul>
                        <div id="sidebarTabContents" class="tab-content">
                            <div class="tab-pane fade active in custom-scrollbar" id="components" ng-style="{'height': $root.size.paneHeight + 'px'}">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="no in networkObjectList">
                                        <div class="row-picture">
                                            <img class="circle" data-index="{{no.index}}" draggable="true"
                                                 ondragstart="(function(ev, th){ ev.dataTransfer.setData('index', th.getAttribute('data-index')); })(event, this)"
                                                 ng-click="$root.ni.add(no.index);" ng-src="{{no.image}}">
                                        </div>
                                        <div class="row-content">
                                            <h4 class="list-group-item-heading" style="margin-top: 10px;">{{no.name}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade custom-scrollbar" id="settings" ng-style="{'height': $root.size.paneHeight + 'px'}">
                                <!-- Add ng-pattern validation -->
                                <form class="form-horizontal" id="settingsForm" novalidate name="settings" ng-show="node">
                                    <fieldset>
                                        <legend>{{'_EDIT_TEXT_SETTINGS_CONFIGURATION' | i18n}}</legend>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">{{'_EDIT_TEXT_SETTINGS_ID' | i18n}}</label>
                                            <div class="col-lg-8">
                                                <input ng-model="node.id" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="node.softwareCompliant">
                                            <label class="col-lg-4 control-label">{{'_EDIT_TEXT_SETTINGS_SOFTWARE' | i18n}}</label>
                                            <div class="col-lg-8">
                                                <select multiple ng-model="node.extra_modules" ng-options="software for software in softwareList" class="form-control"></select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset ng-show="node.network_interfaces.length > 0">
                                        <legend>{{'_EDIT_TEXT_SETTINGS_NETCONFIGURATION' | i18n}}</legend>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">{{'_EDIT_TEXT_SETTINGS_INTERFACE' | i18n}}</label>
                                            <div class="col-lg-7">
                                                <select ng-model="iface" ng-options="iface.endpoint.getId() for iface in node.network_interfaces" class="form-control"></select>
                                            </div>
                                            <a ng-click="$root.ni.deleteConnection(iface.endpoint)" id="btn-delete-interface" class="col-lg-1 btn btn-flat btn-default fa fa-trash-o"></a>
                                        </div>
                                        <div class="form-group" ng-show="iface" ng-hide="iface.dhcp == undefined">
                                            <label class="col-lg-4 control-label">{{'_EDIT_TEXT_SETTINGS_DHCP' | i18n}}</label>
                                            <div class="col-lg-8" style="line-height: 27px;">
                                                <input ng-model="iface.dhcp" type="checkbox">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="iface.dhcp  == false" ng-hide="iface.dhcp !== false">
                                            <label class="col-lg-4 control-label">{{'_EDIT_TEXT_SETTINGS_IP' | i18n}}</label>
                                            <div class="col-lg-8">
                                                <input ng-model="iface.ip" class="form-control" placeholder="192.168.1.10">
                                            </div>
                                            <label class="col-lg-4 control-label">{{'_EDIT_TEXT_SETTINGS_NETWORK' | i18n}}</label>
                                            <div class="col-lg-8">
                                                <input ng-model="iface.network" class="form-control" placeholder="192.168.1.0">
                                            </div>
                                            <label class="col-lg-4 control-label">{{'_EDIT_TEXT_SETTINGS_SUBNETMASK' | i18n}}</label>
                                            <div class="col-lg-8">
                                                <input ng-model="iface.netmask" class="form-control" placeholder="255.255.255.0">
                                            </div>
                                            <label class="col-lg-4 control-label">{{'_EDIT_TEXT_SETTINGS_GATEWAY' | i18n}}</label>
                                            <div class="col-lg-8">
                                                <input ng-model="iface.gateway" class="form-control" placeholder="192.168.1.254">
                                            </div>
                                        </div>

                                    </fieldset>
                                    <fieldset>
                                        <label class="col-lg-4 control-label"></label>
                                        <div class="col-lg-8 tpCreatorSideBar-buttons">
                                            <div class="btn-group btn-group-justified btn-flat">
                                                <a ng-click="submit()" class="btn btn-primary btn-xs" style="color: #ffffff !important;">{{'_EDIT_BUTTON_SETTINGS_SUBMIT_' | i18n}}</a>
                                                <a ng-click="resetForm()" class="btn btn-default btn-xs">{{'_EDIT_BUTTON_SETTINGS_CANCEL' | i18n}}</a>
                                            </div>
                                            <div class="btn-group btn-group-justified btn-flat">
                                                <a ng-click="toggleSidebar(!sidebarIsDisplayed, '')" data-toggle="modal" data-target="#removal-dialog" class="btn btn-warning btn-xs" id="btn-delete-component"><i class="fa fa-trash-o"></i>&nbsp;{{'_EDIT_BUTTON_SETTINGS_REMOVE_' | i18n}}</a>
                                            </div>
                                        </div>


                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="btn-group pull-right" role="group">
                      <button type="button" ng-click="$root.ni.downloadConfig()" class="btn btn-default btn-xs" style="z-index: 50;">{{'_EDIT_BUTTON_DOWNLOAD_CONFIG' | i18n}}</button>
                      <button type="button" ng-click="$root.ni.deploy()" class="btn btn-default btn-xs" style="z-index: 50;">{{'_EDIT_BUTTON_DEPLOY' | i18n}}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>