<div class="bs-component">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Mes Télé-TPs</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/new">
                        <i class="icon icon-material-add icon-material-lightgrey" style="font-size: 75%;"></i>&nbsp;&nbsp;{{'_HEADER_TEXT_NEW_' | i18n}}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="ChangeLanguageController">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">{{'_HEADER_TEXT_LANGUAGE_' | i18n}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="l in availableLanguages"><a href ng-click="selectLanguage(l.code)">{{l.name | i18n}}</a></li>
                    </ul>
                </li>
        </ul>
        </div>

    </div>
</div>