<div id="meta-dialog" class="modal fade" tabindex="-1" ng-controller="MetaDialogController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{'_META_TEXT_TITLE_' | i18n}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="metaForm" novalidate name="meta">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">{{'_META_FORM_NAME_' | i18n}}</label>
                            <div class="col-lg-8">
                                <input ng-model="meta.experiment.name" class="form-control">
                            </div>
                            <label class="col-lg-4 control-label">{{'_META_FORM_DESCRIPTION_' | i18n}}</label>
                            <div class="col-lg-8">
                                <input ng-model="meta.experiment.description" class="form-control">
                            </div>
                            <label class="col-lg-4 control-label">{{'_META_FORM_OBJECTIVE_' | i18n}}</label>
                            <div class="col-lg-8">
                                <input ng-model="meta.experiment.objectives" class="form-control">
                            </div>
                            <label class="col-lg-4 control-label">{{'_META_FORM_AUTHOR_' | i18n}}</label>
                            <div class="col-lg-8">
                                <input ng-model="meta.author" class="form-control">
                            </div>
                            <label class="col-lg-4 control-label">{{'_META_FORM_STARTDATE_' | i18n}}</label>
                            <div class="col-lg-8">
                                <div class="dropdown">
                                    <a ng-click="$root.localeChangeFinished = true" class="dropdown-toggle" id="startdate" role="button" data-toggle="dropdown" data-target="#" href>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{meta.experiment.starting_date | date:'yyyy-MM-dd HH:mm'}}">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-if="$root.localeChangeFinished" data-ng-model="meta.experiment.starting_date" data-datetimepicker-config="{ dropdownSelector: '#startdate' }" />
                                    </ul>
                                </div>
                            </div>
                            <label class="col-lg-4 control-label">{{'_META_FORM_ENDDATE_' | i18n}}</label>
                            <div class="col-lg-8">
                                <div class="dropdown">
                                    <a ng-click="$root.localeChangeFinished = true" class="dropdown-toggle" id="enddate" role="button" data-toggle="dropdown" data-target="#" href>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{meta.experiment.ending_date | date:'yyyy-MM-dd HH:mm'}}">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker ng-if="$root.localeChangeFinished" data-ng-model="meta.experiment.ending_date" data-datetimepicker-config="{ dropdownSelector: '#enddate' }" />
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="submit()" class="btn btn-flat btn-success" data-dismiss="modal">{{'_META_BUTTON_SUBMIT_' | i18n}}</button>
                <button ng-click="resetForm()" class="btn btn-flat btn-primary" data-dismiss="modal">{{'_META_BUTTON_CANCEL_' | i18n}}</button>
            </div>
        </div>
    </div>
</div>