<div id="removal-dialog" class="modal fade" tabindex="-1" ng-controller="RemovalDialogController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Supprimer</h4>
            </div>
            <div class="modal-body">
                <p>Êtes vous sur de vouloir supprimer <i>{{id}}</i> ?</p>
            </div>
            <div class="modal-footer">
                <button ng-click="deleteNode()" class="btn btn-flat btn-warning" data-dismiss="modal">Oui</button>
                <button class="btn btn-flat btn-primary" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>