/* Initialisation de la taille et des marges du DOM */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bs-component .navbar
{
    z-index: 100;
}

a
{
    outline: none !important;
}

.list-group-item-text
{
    padding-left: 5px;
}

.main-body
{
    display: block;
    position: absolute;
    top: 55px;
    width: 100%;
    height: 20px;
    background-color: #EEEEEE;
    padding: 20px;
    z-index: 0;
}

.btn-fab
{
    position: absolute;
    right: 30px;
}

#conceptorCanvas
{
    overflow: hidden;
    padding: 0;
}

#mainCanvas
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#tpCreatorSideBar
{
    position: relative;
    width: 320px;
    height: 100%;
    float: right;
    margin-top: -20px;
    margin-right: -330px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tpCreatorSideBar .nav
{
    width: 100%;
}

#tpCreatorSideBar a:not(#btn-delete-component), #tpCreatorSideBar input, #tpCreatorSideBar select, #tpCreatorSideBar option
{
    color: #000000 !important;
}

#sidebarTabContents .tab-pane
{
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

#btn-delete-interface
{
    text-align: center;
    float: right !important;
    padding: 5px 0 !important;
    margin-right: 10px;
    margin-top: -25px;
}

#btn-delete-component
{
    position: relative;
    float: right;
    bottom: 5px;
    color: #ffffff !important;
}

.list-end
{
    opacity: 0.25;
}

.inline-link
{
    color: #333;
    padding: 5px;
    display: inline-block;
}

.inline-link:hover
{
    color: #444;
    text-decoration: none;
}

svg text
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-scrollbar
{
    padding-right: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track
{
    background-color: #e7e7e7;
}

.custom-scrollbar::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
    background-color: #c3c3c3;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover
{
    background-color: #b9b9b9;
    border-radius: 2px;
}

.panel-footer > a {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#meta-dialog, #removal-dialog {
    top: 25%;
}

.list-group .list-group-item .row-action-primary img.circle, .list-group .list-group-item .row-picture img.circle {
    border-radius: 0 !important;
}
.list-group .list-group-item .row-action-primary img, .list-group .list-group-item .row-picture img {
    background: rgba(0,0,0,0) !important;
    padding: 1px;
}

/*    Override Bootstrap input    */

input, select
{
    background-color: rgba(255,255,255,0.5) !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
    border-radius: 2px !important;
    margin: 1px 0 1px 0 !important;
}

input
{
    padding: 0 3px 0 3px !important;
}

select
{
    box-sizing: content-box !important;
    -ms-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
}

input[type=checkbox]
{
    margin-top: 11px !important;
}
