/* Initialisation de la taille et des marges du DOM */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bs-component .navbar
{
    z-index: 100;
}

a
{
    outline: none !important;
}

.list-group-item-text
{
    padding-left: 5px;
}

.main-body
{
    display: block;
    position: absolute;
    top: 55px;
    width: 100%;
    height: 20px;
    background-color: #EEEEEE;
    padding: 20px;
    z-index: 0;
}

.btn-fab
{
    position: absolute;
    right: 30px;
}

#conceptorCanvas
{
    overflow: hidden;
    padding: 0;
}

#mainCanvas
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#tpCreatorSideBar
{
    position: relative;
    width: 300px;
    height: 600px;
    float: right;
    margin-top: -20px;
    margin-right: -330px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tpCreatorSideBar .nav
{
    width: 100%;
}

#sidebarTabContents .tab-pane
{
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-end
{
    opacity: 0.25;
}

.inline-link
{
    color: #333;
    padding: 5px;
    display: inline-block;
}

.inline-link:hover
{
    color: #444;
    text-decoration: none;
}

svg text
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#settings option
{
    color: #000000;
}

.custom-scrollbar
{
    padding-right: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track
{
    background-color: #8bc34a;
}

.custom-scrollbar::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
    background-color: #6b982e;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover
{
    background-color: #63912f;
    border-radius: 2px;
}

/*    Overwrite Bootstrap     */
.form-group.has-error2 .control-label, .form-group.has-error input.form-control:not(.empty)~.floating-label {
    color: #000 !important;
}

.checkbox > .check:after {
    display: block;
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.84);
    left: -5px;
    top: -15px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
}
.checkbox > .check:before {
    display: block;
    content: "";
    border: 2px solid rgba(0, 0, 0, 0.84);
    height: 20px;
    width: 20px;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.checkbox label {
    cursor: pointer;
    padding-left: 45px;
    position: relative;
}
.checkbox span {
    display: block;
    position: absolute;
    left: 0px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.list-group .list-group-item .row-action-primary img.circle, .list-group .list-group-item .row-picture img.circle {
    border-radius: 0 !important;
}
.list-group .list-group-item .row-action-primary img, .list-group .list-group-item .row-picture img {
    background: rgba(0,0,0,0) !important;
    padding: 1px;
}